@import 'grid.scss';

.resultsContainerOuter{

	position: absolute;
	top:0;

	padding: 50px var(--grid-offset) 0 var(--grid-offset);
	max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-top:50px;
.resultsContainer{
	// max-width: 100vw;
	// overflow-x: hidden;
	margin-top:12px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// margin-top:50px;
}
.loading{
	// height:1000px;
	
	width:100%;
}


}


@media only screen and (max-width: 991px) {
.resultsContainerOuter{
	margin-top: 50px;
}
}