.watchProviders{
		display: flex;
		flex-direction: row;
		// margin-bottom:20px;
		margin:12px 0;
		img{
			height:44px;
			width:44px;
			border-radius: 4px;
			margin-right:4px;
		}
	}


@media only screen and (max-width: 991px) {
.watchProviders{
	img{
		margin-right:4px;
 		width:44px!important;
 		height:44px!important;
 	
	}
}
}